.inactive, .active {
    display: block;
    min-height: fit-content; /* wtf ? */
    padding: 10px 15px;
    user-select: none;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inactive:hover {
    background-color: #eaecee;
}

.active {
    background-color: #677eff;
    color: white;
}