.inactive, .active {
    padding: 10px;
    user-select: none;
    border-radius: 5px;
}

.inactive:hover {
    background-color: #eaecee;
}

.active {
    background-color: #677eff;
    color: white;
}