html, body, #root {
    width: 100%;
    height: 100%;
}

html {
    body {
        background-color: #eaecee;
        margin: 0;

        #root {
            font-size: 14px;
        }
    }
}

* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
}